@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-opaque: 255, 255, 255;
  }
}

@layer components {
  .button {
    @apply flex items-center gap-x-2.5 py-3 px-4 border-2 rounded-md transition-colors hover:text-white;
  }
}

.background-gradient-animated {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-gradient-animated::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #bfdbfe, #c6f6d5, #bfdbfe, #c6f6d5);
  background-size: 400% 400%;
  @apply animate-gradient;
}
